<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Plywood Services</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
</head>

<body>
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            {% if current_user.is_site_owner %}
                <a class="navbar-brand" href="{{ url_for('site_owner.website_owner') }}">Bright Glass Plywood</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% else %}
                <!-- For customers -->
                <a class="navbar-brand" href="{{ url_for('auth.login') }}">Bright Glass Plywood</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.index') }}">Welcome {{ current_user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.admin_dashboard', id=current_user.id) }}">All Orders</a>
                        </li>
                        {% if current_user.is_admin %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('user_panel.user_dashboard') }}">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user_signup.user_register') }}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('submit_quotation.all_quotations') }}">Request Quotation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about_panel.about_page') }}">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header Section -->
    <header class="hero text-white text-center">
        <div class="container">
            <h1>Bright Glass Plywood</h1>
            <p>Your trusted glass partner a.k.a plywooder is just one call away from you.</p>
        </div>
    </header>

    <!-- Main Content -->
    {% block content %}

    {% endblock %}

    <!-- Footer Section -->
    <footer class="my-5 text-center">
        <div class="container">
            <p>For inquiries or quotes, please reach out via email: <a href="mailto:brightplywoods@gmail.com">brightplywoods@gmail.com</a></p>
            <p>&copy; 2024 Bright Glass Plywoods. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
